.box1{
    background-color: #ffffff;
    height: 120px;
}

.box2{
    background-color: #fbfcff;
    height: 60px
}

.redes{

    font-size: 60px !important;
    color: rgb(249, 210, 112);
}

.textos{
    color: white;
}