.imagem2{
    background-image: url(https://uploaddeimagens.com.br/images/004/266/048/original/pngegg.png?1671461002);
    background-repeat: no-repeat;
    width: 100vh; 
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}